<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/index.md">Home</a></li>
          <li><a href="/about.md">About</a></li>
          <li><a href="/services.html">Services</a></li>
          <li><a href="/portfolio.md">Portfolio</a></li>
          <li><a href="/blog.md">Blog</a></li>
          <li><a href="/contact.md">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; 2023 HR Specialist Consulting</p>
    </footer>
  </body>
</html>
